<div class="cart-item">
    <div clsaa="item-details">
        <div class="imgandprice">
            <div class="img-con">
                <img  src="./assets/25kg_kingsOil.png" alt="logo-img">
            </div>
            <div class="nameandquan">
                <h6>Kings Oil 25L</h6>
                <p>N57,000.00</p>

                <div class="quantity-btn">
                    <button>-</button>
                    <h5>5</h5>
                    <button>+</button>
                </div>
            </div>
        </div>

    </div>

    <div class="priceanddelete">
        <div class="delete-btn">
            <button>X</button>
        </div>
        
        <div class="total-price">
            <p>N285,000.00</p>
        </div>

    </div>
</div>

<hr>
