<div class="footer-container">
    <div class="logo-chat-con">
        <div  class="logo-con">
            <img class="rizzyMart_logo_footer" src="./assets/rizzyMart_logo.PNG" alt="logo-img">
        </div>

        <div class="logo-con">
            <h5>
                Chat with us <span><img class="whatsapp-logo" src="./assets/whatsapp.png" alt="whatsapp-logo"></span>
            </h5>
        </div>
    </div>

    <div class="footer-links">
        <p>Return Policy</p>
        <p>Privacy Policy</p>
        <p>Fast Delivery</p>
    </div>

     <div class="footer-links2">
        <p> Return and Refund Policy</p>
        <p>Report Product</p>
        <p>Terms and Conditions</p>
    </div>

    <div class="footer-links3">
        <div class="footer-logo-con">
            <img class="footer-logo" src="./assets/tiktok-icon.png" alt="whatsapp-logo">
            <img class="footer-logo" src="./assets/instagram-icon.png" alt="whatsapp-logo">
        </div>

        <p>Rizzymart@yahoo.com</p>


        <ul>
            <li class="numbers">
                +234 803 123 4567
            </li>
            <li class="numbers">
                +234 803 123 4568
            </li>
            <li class="numbers">
                +234 803 123 4569
            </li>
        </ul>

    </div>

    <div class="about-us">
        <h2>About Us</h2>
        <p>
            RizzyMart is a trusted Nigerian store for everyday essentials, offering affordable food, household, and baby products. It simplifies shopping with convenience, quality items, and reliable delivery straight to your doorstep.
        </p>
    </div>
        

    <hr>
        <div class="copyright">
            <p>Copyright 2026 Rizzymart. All rights reserved.</p>       
        </div>

</div>
