.greeting-section{
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
   
}
body{
    background: #B71C1C;
}

.greeting{
    width: 100%;
}
.greetingH1{
     font-size: 22px;
    color: #F44336;
    padding-left: 2em;
    padding-top: 1em;
    
  font-family: "Rubik Moonrocks", sans-serif;
  font-weight: 400;
  font-style: normal;


}

.categories{
    width: 100%;
  
}

.category-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    right: 1em;
    


}

.category-list li{
    text-decoration: none;
    list-style: none;
    width: 100px;
    height: 2.5em;
    margin: 3px;
    border: 1px solid #B71C1C;
    letter-spacing: 1px;
    text-align: center;
   border-radius: 5px;
    color: white;
    font-size: 14px;
    background: linear-gradient(
  to right,
  #F44336,
  #e55d5d
);
    padding: 7px;
    font-weight: 700;
}