.best-selling-container{
    width: 100%;
}

.best-selling-container h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: rgb(91, 71, 71);
}



.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.product {
  width: 250px;
  text-align: center;
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.price {
  font-weight: bold;
  margin-top: 8px;
}

.arrow {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}